@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.btn {
    width: 125;
    height: 40;
    horizontal-align: center;
    font-size: 14;
    background-color: #009940;
    border-radius: 10;
    color: white;
}

.btn-tab {
    width: 250;
    height: 80;
    horizontal-align: center;
    font-size: 28;
    background-color: #009940;
    border-radius: 10;
    color: white;
}

.has-error {
    color: red;
}

.left-pad {
    padding-left: 5;
}

.left-pad-2x {
    padding-left: 10;
}

.right-pad {
    padding-right: 5;
}

.right-pad-2x {
    padding-right: 10;
}

.left-pad-tab {
    padding-left: 10;
}

.left-pad-2x-tab {
    padding-left: 20;
}

.right-pad-tab {
    padding-right: 10;
}

.right-pad-2x-tab {
    padding-right: 20;
}


.info-bigger {
    color: #999999;
    font-size: 24;
}

.info-bigger-tablet {
    color: #999999;
    font-size: 48;
}

.info-gnarly {
    font-size: 14;
    color: #009940;
    margin: 0;
}

.info-gnarly-tablet {
    font-size: 28;
    color: #009940;
    margin: 0;
}

.page {
    background-color: #2b2c2d;
    color: white;
}

.action-bar {
    height: 44;
    vertical-align: top;
}

.action-bar-tablet {
    height: 88;
    vertical-align: top;
}

.action-wrap {
    padding-left: 12;
    padding-right: 12;
    orientation: horizontal;
    vertical-align: center;
    horizontal-align: stretch;
}

.icon-image {
    vertical-align: center;
}

.back-text {
    color: #2b2c2d;
    font-size: 17;
    margin-left: 2;
    vertical-align: center;
    min-width: 75;
}

.movie-list {
    background-color: #2b2c2d;
    separator-color: #999999;
}

#movie-list {
    background-color: #2b2c2d;
    separator-color: #999999;
}

.horizontal-stack {
    orientation: horizontal;
}

.light-gray-background {
    background-color: #999999;
}

.light-gray-text {
    color: #999999;
}

.all-pad {
    padding: 5;
}

.vertical-center {
    vertical-align: center;
}

.horizontal-center {
    horizontal-align: center;
}

.gnarly-text {
    color: #009940;
}

.tablet-text {
    font-size: 32;
}

.drawer-menu-header {
    font-size: 24;
    margin: 30 10 10 10;    
}

.drawer-menu-item {
    font-size: 18;
    padding: 10 0;
}

.drawer-menu-item-group {
    margin: 0 30;
}

.drawer-menu-header-tab {
    font-size: 48;
    margin: 60 20 20 20;    
}

.drawer-menu-item-tab {
    font-size: 36;
    padding: 20 0;
}

.drawer-menu-item-group-tab {
    margin: 0 60;
}

.movie-image {
    width: 50;
    height: 75;
}

.movie-image-tablet {
    width: 100;
    height: 150;
}

.movie-row {
    padding: 5 0;
}

.movie-row-tab {
    padding: 10 0;
}
