.favorite-wrap {
    vertical-align: top;
    padding: 12;
    margin-right: 16;
}

.bold {
    font-weight: bold;
}

.info-wrap {
    vertical-align: center;
}

.activity-indicator {
    color: #009940;
}