.filter-mode {
    vertical-align: center;
    horizontal-align: center;
    padding: 0 5;
}

.filter-height {
    height: 30;
}

.filter-height-tablet {
    height: 60;
}

.filter-label {
    vertical-align: center;
    padding: 5;
}

.selected-filter-menu {
    background-color: #009940;
    height: auto;
    padding: 0 10 0 5;
    border-radius: 20;
    vertical-align: center;
    horizontal-align: left;
}

.unselected-filter {
    height: auto;
    padding: 0 5;
    border-radius: 20;
    vertical-align: center;
    horizontal-align: left;
}

.selected-filter {
    background-color: #999999;
    height: auto;
    padding: 0 5;
    border-radius: 20;
    margin: 5 5 5 0;
    orientation: horizontal;
}

.star-image {
    height: 20;
    width: 20;
}

.star-image-tab {
    height: 40;
    width: 40;
}

