.main-title {
    font-size: 36;
    color: white;
}

.director-info {
    font-size: 28;
    color: white;
}

.title-layout {
    vertical-align: center;
}

.plot-layout {
    /* background-color: #009940; */
    vertical-align: top;
}