.main-title {
    font-size: 18;
    color: white;
}

.director-info {
    font-size: 14;
    color: grey;
}

.title-layout {
    vertical-align: center;
}

.plot-layout {
    background-color: #009940;
    vertical-align: top;
}